In [99]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [100]:
data= pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [101]:
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [102]:
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])
data.head(50)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
5,645,Spain,1,44,8,113755.78,2,1,0,149756.71,1
6,822,France,1,50,7,0.00,2,1,1,10062.80,0
7,376,Germany,0,29,4,115046.74,4,1,0,119346.88,1
8,501,France,1,44,4,142051.07,2,0,1,74940.50,0
9,684,France,1,27,2,134603.88,1,1,1,71725.73,0
10,528,France,1,31,6,102016.72,2,0,0,80181.12,0
11,497,Spain,1,24,3,0.00,2,1,0,76390.01,0
12,476,France,0,34,10,0.00,2,1,0,26260.98,0
13,549,France,0,25,5,0.00,2,0,0,190857.79,0
14,635,Spain,0,35,7,0.00,2,1,1,65951.65,0
15,616,Germany,1,45,3,143129.41,2,0,1,64327.26,0
16,653,Germany,1,58,1,132602.88,1,1,0,5097.67,1
17,549,Spain,0,24,9,0.00,2,1,1,14406.41,0
18,587,Spain,1,45,6,0.00,1,0,0,158684.81,0
19,726,France,0,24,6,0.00,2,1,1,54724.03,0
20,732,France,1,41,8,0.00,2,1,1,170886.17,0
21,636,Spain,0,32,8,0.00,2,1,0,138555.46,0
22,510,Spain,0,38,4,0.00,1,1,0,118913.53,1
23,669,France,1,46,3,0.00,2,0,1,8487.75,0
24,846,France,0,38,5,0.00,1,1,1,187616.16,0
25,577,France,1,25,3,0.00,2,0,1,124508.29,0
26,756,Germany,1,36,2,136815.64,1,1,1,170041.95,0
27,571,France,1,44,9,0.00,2,0,0,38433.35,0
28,574,Germany,0,43,3,141349.43,1,1,1,100187.43,0
29,411,France,1,29,0,59697.17,2,1,1,53483.21,0
30,591,Spain,0,39,3,0.00,3,1,0,140469.38,1
31,533,France,1,36,7,85311.70,1,0,1,156731.91,0
32,553,Germany,1,41,9,110112.54,2,0,0,81898.81,0
33,520,Spain,0,42,6,0.00,2,1,1,34410.55,0
34,722,Spain,0,29,9,0.00,2,1,1,142033.07,0
35,475,France,0,45,0,134264.04,1,1,0,27822.99,1
36,490,Spain,1,31,3,145260.23,1,0,1,114066.77,0
37,804,Spain,1,33,7,76548.60,1,0,1,98453.45,0
38,850,France,1,36,7,0.00,1,1,1,40812.90,0
39,582,Germany,1,41,6,70349.48,2,0,1,178074.04,0
40,472,Spain,1,40,4,0.00,1,1,0,70154.22,0
41,465,France,0,51,8,122522.32,1,0,0,181297.65,1
42,556,France,0,61,2,117419.35,1,1,1,94153.83,0
43,834,France,0,49,2,131394.56,1,0,0,194365.76,1
44,660,Spain,0,61,5,155931.11,1,1,1,158338.39,0
45,776,Germany,0,32,4,109421.13,2,1,1,126517.46,0
46,829,Germany,0,27,9,112045.67,1,1,1,119708.21,1
47,637,Germany,0,39,9,137843.80,1,1,1,117622.80,1
48,550,Germany,1,38,2,103391.38,1,0,1,90878.13,0
49,776,Germany,0,37,2,103769.22,2,1,0,194099.12,0

In [103]:
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder()
geo_encoded=ohe.fit_transform(data[['Geography']])
geo_encoded

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [104]:
ohe.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [105]:
geo_encoded_df=pd.DataFrame(geo_encoded.toarray(),columns=ohe.get_feature_names_out(['Geography']))

In [106]:
data=pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)

In [107]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [108]:
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('geo_encoded_ohe.pkl','wb') as file:
    pickle.dump(ohe,file)

In [109]:
X = data.drop('Exited',axis=1)
y = data['Exited']

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [110]:
X_test

array([[-0.57749609,  0.91324755, -0.6557859 , ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.29729735,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.52560743, -1.09499335,  0.48508334, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.81311987, -1.09499335,  0.77030065, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.41876609,  0.91324755, -0.94100321, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.24540869,  0.91324755,  0.00972116, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [111]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

ANN

In [112]:
import tensorflow as tf

In [113]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [114]:
model= Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1,activation='sigmoid')
])

/Users/harshkumar/Desktop/Main/Projects/Classification DL ANN/venv1/lib/python3.11/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [115]:
model.summary()

Model: "sequential_2"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_6 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_7 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_8 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

Training

In [116]:
opt= tf.keras.optimizers.Adam(learning_rate=0.01)
loss=tf.keras.losses.BinaryCrossentropy()

In [117]:
##compiling the model
model.compile(optimizer=opt,loss="binary_crossentropy",metrics=['accuracy'])

In [118]:
##setting up tensorboard
from tensorflow.keras.callbacks import EarlyStopping
log_dir="logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard()

In [119]:
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=5,restore_best_weights=True)

In [120]:
history=model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 542us/step - accuracy: 0.8121 - loss: 0.4288 - val_accuracy: 0.8600 - val_loss: 0.3428
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 360us/step - accuracy: 0.8528 - loss: 0.3598 - val_accuracy: 0.8435 - val_loss: 0.3730
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 358us/step - accuracy: 0.8587 - loss: 0.3507 - val_accuracy: 0.8500 - val_loss: 0.3526
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 360us/step - accuracy: 0.8633 - loss: 0.3416 - val_accuracy: 0.8580 - val_loss: 0.3408
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 355us/step - accuracy: 0.8551 - loss: 0.3435 - val_accuracy: 0.8605 - val_loss: 0.3366
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 349us/step - accuracy: 0.8664 - loss: 0.3306 - val_accuracy: 0.8560 - val_loss: 0.3419
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 347us/step - accuracy: 0.8595 - loss: 0.3382 - val_accuracy: 0.8540 - val_loss: 0.3509
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 351us/step - accuracy: 0.8702 - loss: 0.3274 - val_accuracy: 0.8580 - val_loss: 0.3452
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 350us/step - accuracy: 0.8650 - loss: 0.3304 - val_accuracy: 0.8615 - val_loss: 0.3353
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 346us/step - accuracy: 0.8623 - loss: 0.3326 - val_accuracy: 0.8600 - val_loss: 0.3430
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 350us/step - accuracy: 0.8686 - loss: 0.3219 - val_accuracy: 0.8550 - val_loss: 0.3505
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 348us/step - accuracy: 0.8702 - loss: 0.3159 - val_accuracy: 0.8620 - val_loss: 0.3484
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 347us/step - accuracy: 0.8780 - loss: 0.3073 - val_accuracy: 0.8555 - val_loss: 0.3495
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 346us/step - accuracy: 0.8694 - loss: 0.3176 - val_accuracy: 0.8570 - val_loss: 0.3694

In [121]:
model.save('churn_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [122]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [123]:
%tensorboard --logdir logs/

Reusing TensorBoard on port 6015 (pid 20033), started 2:21:42 ago. (Use '!kill 20033' to kill it.)

In [124]:
# ##Loading pickle files
# with open('churn_model.pkl','wb') as file:
#     pickle.dump(model,file)